{% extends "base.html" %}
{% load static %}

{% block title %}配方库看板{% endblock %}

{% block content %}
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <div class="page-pretitle">App Panel</div>
                <h2 class="page-title">配方库看板</h2>
            </div>
        </div>
    </div>
    <div class="row row-cards mt-2">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <p>这里是配方库看板的内容。</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}