{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <div class="page-pretitle">Material Specification</div>
                <h2 class="page-title">{{ material.grade_name }}</h2>
            </div>
            <div class="col-auto ms-auto">
                <div class="btn-list">
                    <a href="{% url 'repo_material_list' %}" class="btn btn-ghost-secondary">
                        <i class="ti ti-arrow-left"></i> 返回列表
                    </a>
                    <a href="{% url 'repo_material_edit' material.pk %}" class="btn btn-primary">
                        <i class="ti ti-edit"></i> 编辑资料
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cards mt-3">

        <!-- ======================================================= -->
        <!-- 左侧栏：基础档案 (33% 宽度) -->
        <!-- ======================================================= -->
        <div class="col-lg-4">

            <!-- 1. 基础信息卡片 -->
            {% include 'apps/app_repository/material/detail_card/card_material_info.html' %}

            <!-- 2. 描述卡片 -->
            {% include 'apps/app_repository/material/detail_card/card_material_description.html' %}

            <!-- 3. 文档下载卡片 -->
            {% include 'apps/app_repository/material/detail_card/card_material_file.html' %}

            <!-- 4. 额外附件列表 (胶囊样式) -->
            {% include 'apps/app_repository/material/detail_card/card_material_file_extra.html' %}

        </div>

        <!-- ======================================================= -->
        <!-- 右侧栏：动态性能指标 (EAV 核心展示区) -->
        <!-- ======================================================= -->
        <div class="col-lg-8">
            <!-- 1. 动态性能卡片 (按分类分组) -->
            {% include 'apps/app_repository/material/detail_card/card_material_data_EAV.html' %}
            
            <!-- 2. 【新增】关联配方记录 -->
            {% include 'apps/app_repository/material/detail_card/card_material_formulas.html' %}
            
            <!-- 3. 关联项目应用记录 (宽幅表格) -->
            {% include 'apps/app_repository/material/detail_card/card_material_projects.html' %}

        </div>
    </div>
{% endblock %}