{% extends "base.html" %}

{% block content %}
    {% include 'apps/projects/detail/detail_project_header.html' %}

    <div class="row row-cards mt-3">
        <!-- 左侧：项目基本信息 -->
        <div class="col-lg-4">
            {% include 'apps/projects/detail/detail_project_info.html' %}
        </div>

        <!-- 右侧：垂直进度时间轴 -->
        {#        <div class="col-lg-8">#}
        {#            {% include 'apps/projects/detail/detail_project_progress.html' %}#}
        {#        </div>#}

        <!-- 右侧区域 (col-lg-8) -->
        <div class="col-lg-8">
            <div class="row row-cards">

                <!-- 【新增】1. 顶部：甘特图 (占满右侧宽度) -->
                <div class="col-12 mb-1">
                    {% include 'apps/projects/detail/detail_project_gantt.html' %}
                </div>
                <!-- 2. 下部：垂直进度时间轴 (保持原来的 include 即可，不用改内部代码) -->
                <div class="col-12 mb-1">
                    {% include 'apps/projects/detail/detail_project_progress.html' %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}